/**
 * @Author: mac
 * @Date:   2021-03-03T23:44:32+02:00
 * @Last modified by:   mac
 * @Last modified time: 2021-03-03T23:49:26+02:00
 */



h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;
  color:white;
}
ul{
  text-align: center;
  list-style: inside;
  color: white;
}
a{
  color:white;
}
p {
  color:white;
  text-align: center;}
div {text-align: center;}
body{
  text-align: center;
background-color: black;
background-image:url("backgroung.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
