/**
 * @Author: mac
 * @Date:   2021-03-03T23:44:32+02:00
 * @Last modified by:   mac
 * @Last modified time: 2021-04-08T08:22:18+03:00
 */



h1 {
text-align: center;
color: limegreen;

}
h2 {
text-align: center;
color: limegreen;

}
h3 {
text-align: center;
color:white;

}
ul{
  list-style-type: square;
  text-align: center;
  list-style: inside;

}
a{
  color:white;
}
p {
  color:white;
  text-align: center;

}
div {text-align: center;}
body{
  text-align: center;
background-color: #33CEFF;

width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
button{

    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-left: 2px;
    position: absolute;
    top: 8px;
  left: 16px;
}
