/**
 * @Author: mac
 * @Date:   2021-02-27T12:56:41+02:00
 * @Last modified by:   mac
 * @Last modified time: 2021-02-27T13:03:21+02:00
 */



h1{
  color:blueviolet;

}
body{
  background-color: color :black;
}
p{
  color:red;
  font-size: 100%;
  font-style: italic;
}
